build/
tool_chain/
*.err
bx_enh_dbg.ini
.vscode/*.log
.sconsign.dblite
__pycache__/
.idea/CordellOS.EXMPL.iml
.gitignore
*.txt
*.json
*.bin
*.cmake
*.out
*.xml
*.check_cache
*.yaml
*.ninja
*.log
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
